.project
{
	color: blue;
	margin : 10px;
	outline-style: solid;
	width: 800px;
}

.project .project
{
	width: inherit;
}

.task
{
}


.addTaskForm
{
}

button
{
	margin: 5px;
}

.scroll_checkbox
{
	overflow-y : auto;
	height : 60px;
	width : 200px;
}

.priorityInput
{
	width: 40px;
}

.colorChangeForm
{
	margin: 5px;
}

#titleHeader
{
	text-align: center;
}

#baseBody
{
	display: table;
}

#sidebar
{
	display: table-cell;
	padding: 5px;
}

#content
{
	display: table-cell;
	padding: 5px;
}

#taskBar
{
	display: table-cell;
	padding: 5px;
}

body
{

}