<table class="inputTable">
	<tr>
		<td>Name</td>
		<td>Time Required</td>
		<td>Priority</td>
		<td>Deadline(Optional)</td>
	</tr>
	<tr>
		<td>
			<input type="text" name="1">
		</td>
		<td>
			<input type="number" name="timeReq1" min="0" max="90" step="15">
		</td>
		<td>
			<input type="datetime-local" name="time1">
		</td>
	</tr>
</table>
<br>
<button type="button" class="addDynamicTaskButton">
	+
</button>
<button type="button" class="removeDynamicTaskButton">
	-
</button>
<br>
<input type="submit" name="Add Task">