{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="{% static "assets/css/style.css" %}"/>
	<script type = "text/javascript" src=" {% static "assets/JS/jquery-1.10.2.min.js" %}"></script>
	<script type = "text/javascript" src=" {% static "assets/JS/script.js" %}"></script>
	<script type = "text/javascript" src=" {% static "assets/JS/jscolor.js" %}"></script>
</head>

<body id="baseBody">
	<h1 id="titleHeader"> My To-do List </h1>
	<hr>
	<div id="baseBody">
		<div id="sidebar">
			{% block sidebar %}{% endblock %}
		</div>
		<div id="content">
			{% block content %}{% endblock %}
		</div>
		<div id="taskBar">
			{% block taskBar %}{% endblock %}
		</div>
	</div>

</body>

</html>