{% extends "base.html" %}

{% block content %}

	{% if user %}

		<h4> Statistics for {{user.username}} </h4>

		{% if finishedTCount %}

			<p> Total Finished Tasks: {{finishedTCount}} </p>

		{% endif %}

		{% if finishedPCount %}

			<p> Total Finished Projects: {{finishedPCount}} </p>

		{% endif %}

		{% if unfinishedTCount %}

			<p> Total Unfinished Tasks: {{unfinishedTCount}} </p>

		{% endif %}

		{% if unfinishedPCount %}

			<p> Total Unfinished Projects: {{unfinishedPCount}} </p>

		{% endif %}

		{% if tFinRecentCount %}

			<p> Recently Finished Tasks: {{tFinRecentCount}} </p>

		{% endif %}

		{% if pFinRecentCount %}

			<p> Recently Finished Projects: {{pFinRecentCount}} </p>

		{% endif %}

		{% if options %}

		    

			<form action="/todolist/updateUserTimes/" method="post">
				{% csrf_token %}
				Sunday Minutes: <input type="number" name="sunday" min="0" max="600" value={{options.sundayTime}}>
				<br>
				Monday Minutes: <input type="number" name="monday" min="0" max="600" value={{options.mondayTime}}>
				<br>
				Tuesday Minutes: <input type="number" name="tuesday" min="0" max="600" value={{options.tuesdayTime}}>
				<br>
				Wednesday Minutes: <input type="number" name="wednesday" min="0" max="600" value={{options.wednesdayTime}}>
				<br>
				Thursday Minutes: <input type="number" name="thursday" min="0" max="600" value={{options.thursdayTime}}>
				<br>
				Friday Minutes: <input type="number" name="friday" min="0" max="600" value={{options.fridayTime}}>
				<br>
				Saturday Minutes: <input type="number" name="saturday" min="0" max="600" value={{options.saturdayTime}}>
				<br>
				<input type="submit">
			</form>

		{% endif %}


    <a href="/todolist/projects{{user.id}}/">Back to Projects</a>
	{% endif %}



{% endblock %}