{% extends "base.html" %}

{% block sidebar %}

{% if user %}
<h3> You are logged in as {{user.username}} </h3>
<a href="/todolist/profile{{user.id}}">View Profile</a> <br>
<a href="/accounts/logout/">Logout</a>
<hr>
{% endif %}

{% endblock %}

{% block content %}





{% if project_list %}
<ul id="RootProjects">
    {% for project in project_list %}
        {%include "project_view.html/" %}
    {% endfor %}
</ul>    
{% else %}
    <p>No projects are available!</p>
{% endif %}

{% include "add_project_form.html/" %}

{% for task in random_tasks %}
    {% include "task_view.html" %}
{% endfor %}

{% include "add_random_task_form.html" %}


{% endblock %}

{% block taskBar %}



{% if urgent_list %}
<h2> Urgent Tasks! (Due in next 24 hours) </h2>
<ul id="Urgent Tasks">
    {% for task in urgent_list %}
        <li> <label> {{task.name}} </label></li>
    {% endfor %}
</ul>
<hr>
{% endif %}


{% if unassigned_list %}

<h2> Unassigned Tasks! </h2>
<ul id="Urgent Tasks">
    {% for task in unassigned_list %}
        <li> <label> {{task.name}} </label></li>
    {% endfor %}
</ul>
<form action="/todolist/assignTasks/" method="post">
    {% csrf_token %}
    <input type="submit">
</form>


<hr>

{% endif %}


{% if task_list %}
    <h3> Your next tasks </h3>
        <ul id="NextTasks">
            {% for task in task_list %}
                <li> <label> {{task.name}} </label></li>
            {% endfor %}
        </ul>
{% endif %}

{% endblock %}
